:root { /* fonts */
    --main-font: 'Roboto';
    --secondary-font: 'Raleway';
    /* text colors */
    --primary-txt-color: #212121;
    --secondary-txt-color: #757575;
    --accent-color: #2196f3;
    --white-main-color: #ffffff;
    --white-secondary-color: rgba(255, 255, 255, 0.6);
    /* background colors*/
    --bg-color-grey: #f5f4fa;
    --bg-color-black: #2f303a;
    --bg-color-hero: #c4c4c4;
    /* Other */
    --logo-black: #000000;
    --btn-hover-hero: #188ce8;
    --indent: 30px;
    --items: 1;
    --border-color: #eeeeee;
    --icons-color: #afb1b8;
}