.header {
    border-bottom: 1px solid #ececec;

    &__container {
            display: flex;
            align-items: center;
        }
}

.header__contacts {
    @extend %reset-list;

    @media screen and (min-width:1200px){
display: flex;
    align-items: center;
    gap: 50px;
    }
      
   }

.header__item {
       display: flex;
       align-items: center;
   }

.header__phone {
    @extend %reset-link;
       display: flex;
       align-items: center;
       padding-top: 5px;
       padding-bottom: 5px;

       font-weight: 500;
       font-size: 12px;
       line-height: calc(14 / 12);
       letter-spacing: 0.02em;
       color: var(--secondary-txt-color);

       transition-property: color;
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (min-width:1200px){
    padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
}

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
   }

.header__icons {
       fill: currentColor;
       margin-right: 8px;

    @media screen and (min-width:1200px){
        margin-right: 10px;
    }
   }

.header__email {
    @extend %reset-link;
       display: flex;
       align-items: center;
       padding-top: 5px;
       padding-bottom: 5px;

       font-weight: 500;
       font-size: 12px;
       line-height: calc(14 / 12);
       letter-spacing: 0.02em;
       color: var(--secondary-txt-color);

       transition-property: color;
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:1200px) {
            padding-top: 32px;
            padding-bottom: 32px;
            font-size: 14px;
        }

            &:hover,
            &:focus {
                color: var(--accent-color);
        }
    }

  