.services {
    display: none;

    @media screen and (min-width: 1200px) {
        display: flex;
        }
        @extend %section;
        @extend %section--no-padding;
}
.services__title {
    margin-bottom: 50px;
}
.services__list {
    @extend %reset-list;
        display: flex;
        flex-wrap: wrap;
        gap: var(--indent);
}
.services__item {
    position: relative;
}

.services__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}